<div class="activity-date-time column-15">
  <span class='activity-time is-active'>{{ activityTime }}</span>
  <span class='activity-date'>{{ activityDate }}</span>
</div>
<div class="activity-details column-85">
  <div class="activity-description">{{ activityDescription }}</div>
  <div class="activity-sub-description">{{ activitySubDescription }}</div>
</div>
<div class="activity-bullet">
  <div class="bullet-point {{ bulletClass }}"></div>
</div>
