{{#component-container}}
  {{#if hasFile }}
    {{icon-font fontType=wizardArrow clickAction=(action 'triggerWizardStepChange') }}
  {{/if}}
{{/component-container}}

{{#component-container class="hyspa-record-importer-wizard-view hyspa-record-importer-file-uploader"}}
  {{file-uploader percentageWidth=100 validFileExtensions=validFileExtensions returnCsv=true onReturnedCsv=(action 'triggerCsvParsed') onFilesAdded=(action 'triggerFilesDropped') }}
{{/component-container}}

{{#component-container class="hyspa-record-importer-wizard-view hyspa-record-importer-header-mapper"}}
  {{section-header headeryType="section" headerText="Data Mapping" titleFont=true }}
  <p>To match Audit Manager's data, drag and drop the column names from the imported file on the right to match the pre-defined columns on the left.</p>
  
  {{#component-container percentageWidth=40 }}
    {{section-header headeryType="sub-section" headerText="Data Template" }}
    <ul class="form-component-repeater boxed no-banding hyspa-record-importer-column">
      {{#each tableColumns as |tableColumn| }}
        <li>
          <div class="drag-handle"></div>
          <span>{{tableColumn.column_name}}</span>
        </li>
      {{/each}}
    </ul>
  {{/component-container}}

  {{#component-container percentageWidth=48 }}
    {{section-header headeryType="sub-section" headerText="Uploaded Data File" padding="2,0,1,3" }}
    {{#form-component-repeater currentList=csvHeaders class="boxed no-banding hyspa-record-importer-sortable-column" enableSort=true useSwap=true tagName="div" as |sortableHeaders| }}
      {{#table-layout class="column-100" }}
        {{#each csvHeaders as |csvHeader| }}
          {{#sortableHeaders.sortableRepeatedComponent content=csvHeader isSortable=true tagName="div" class="table-layout-row" }}
            {{#table-layout-cell class="valign-middle align-center compare-arrows-cell" padding="0,0,0,0" }}
              {{icon-font fontType="compare_arrows" class="compare-arrows" }}
            {{/table-layout-cell}}
            {{#table-layout-cell class="drag-handle-cell valign-middle" padding="1,0,1,1" }}
              {{drag-handle }}
            {{/table-layout-cell}}
            {{#table-layout-cell class="valign-middle header-cell"}}
              {{csvHeader}}
            {{/table-layout-cell}}
          {{/sortableHeaders.sortableRepeatedComponent}}
        {{/each}}
      {{/table-layout}}


    
      {{!-- {{#each csvHeaders as |csvHeader| }}
        {{log csvHeader}}
        {{#sortableHeaders.sortableComponent content=csvHeader isSortable=true tagName="tr" }}
          {{icon-font fontType="compare_arrows" class="compare-arrows" }}
          <span>{{csvHeader}}</span>
        {{/sortableHeaders.sortableComponent}}
      {{/each}} --}}
    {{/form-component-repeater}}
  {{/component-container}}

{{/component-container}}
