{{logo-svg }}
{{yield}}
{{master-menu }}


{{!-- <nav class='user-nav'>
  <header class='headline-font'>{{ currentVertical }}</header>
  {{apps-menu }}
  {{icon-font fontType='settings'}}
  {{user-menu }}
</nav> --}}
